
server:
  port: 8080

# mysql datasource and jpa (append to existing file)
spring:
  application:
    name: LOG
  datasource:
    url: jdbc:mysql://localhost:3306/logdb?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    show-sql: true



